<div class="container-fluid">
  <div class="row">
    <div class="card card-user business-view">
      <div class="content">
        <div class="image" style="background-image: url(assets/img/my-backgroud.jpeg);">
          <!-- <img src="assets/img/my-backgroud.jpeg" alt="..." /> -->
        </div>
      </div>
      <div class="content">
          <div class="author">
              <img class="avatar border-gray" (click)="edit()" src="assets/img/flat-style-circle-edit_icon.png" alt="..."/>
            </div>
        <div class="row">
          <div class="col-md-7">
              <h2 class="business-heading">Biz Tecno Info Tecno PVT LTD.</h2>
              <p class="description">{{data | limitTo : 320 }}</p>
              <div class="row">
                <div class="col-sm-6 text-center marginBT10"><i class="ti-mobile"></i> +91 1234567890</div>
                <div class="col-sm-6 text-center marginBT10">
                  <a href="https://www.biztecno.net"> <i class="ti-dribbble"></i> www.biztecno.net</a>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6 text-center marginBT10">Follow us on: </div>
                  <div class="col-sm-6 text-center marginBT10">
                    <a class="marginRT15" href="https://www.facebook.com"> <i class="ti-facebook"></i></a>
                    <a href="https://twitter.com/login"> <i class="ti-twitter-alt"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-md-5">
            <div class="image marginBT10">
              <img src="assets/img/my-backgroud.jpeg" alt="..." style="height: 100%;" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <button (click)="edit()" class="btn btn-info btn-fill btn-wd">Edit</button> -->