<div class="container-fluid">
  <div class="row">
    <div class="card card-user">
      <div class="content">
        <div class="image" style="height: 210px">
          <img src="assets/img/my-backgroud.jpeg" alt="..." />
        </div>
      </div>
      <div class="content" style="height: 235px">
        <div class="row">
          <div class="col-md-6">
            <h2 class="description text-center">Biz Tecno Info Tecno PVT LTD.</h2>
            <div class="description text-center">
              Description is the pattern of development that presents a word picture of a thing, a person, a situation, or a series of
              events. It is one of four rhetorical modes (also known as modes of discourse), along with exposition, argumentation,
              and narration. Each of the rhetorical modes is present in a variety of forms and each has its own purpose and
              conventions. The act of description may be related to that of definition. Description is also the fiction-writing
              mode for transmitting a mental image of the particulars of a story
            </div>
          </div>
          <div class="col-md-6">
            <div class="image" style="height: 210px">
              <img src="assets/img/my-backgroud.jpeg" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="edit()" class="btn btn-info btn-fill btn-wd">Edit</button>