<div class="container-fluid">
  <div class="row">
    <div class="card card-user">
      <div class="content">
        <div class="image" style="height: 210px">
          <img src="assets/img/my-backgroud.jpeg" alt="..." />
        </div>
      </div>
      <div class="content" style="height: 235px">
        <div class="row">
          <div class="col-md-6">
            <p class="description text-center">
              "I like the way you work it <br> No diggity <br> I wanna bag it up"
            </p>
          </div>
          <div class="col-md-6">
            <div class="image" style="height: 210px">
              <img src="assets/img/my-backgroud.jpeg" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="edit()" class="btn btn-info btn-fill btn-wd">Edit</button>