<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Striped Table</h4>
                    <button (click)="showPromotion()" class="btn btn-info btn-fill btn-wd pull-right">New Promotion</button>
                    <p class="category">Here is a subtitle for this table</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr (click)="showPromotion(row)" *ngFor="let row of tableData1.dataRows">
                                <td>{{row.id}}</td>
                                <td>{{row.name}}</td>
                                <td>{{row.description}}</td>
                                <td>{{row.startDate |dateFormator}}</td>
                                <td>{{row.endDate | dateFormator}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>