<bs-modal #modal>
    <bs-modal-header>
        <h4 class="modal-title">{{promotionsFormGroup.controls['id'].value ? 'Edit Promotion': 'New Promotion'}}</h4>
    </bs-modal-header>
    <bs-modal-body>
        <div class="content">
            <form [formGroup]="promotionsFormGroup">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control border-input" [formControl]="promotionsFormGroup.controls['name']" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control border-input" [formControl]="promotionsFormGroup.controls['description']" placeholder="Description">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Star tDate</label>
                            <app-date-picker [date]="promotionsFormGroup.controls['startDate']" ></app-date-picker>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>End Date</label>
                            <app-date-picker [date]="promotionsFormGroup.controls['endDate']" ></app-date-picker>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="modal.close()">Save</button>
    </bs-modal-footer>
</bs-modal>