<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-sm-4">
      <div class="card card-circle-chart" data-background-color="blue">
        <div class="card-header text-center">
          <h5 class="card-title">Basic</h5>
          <p class="description">Weekly Plan</p>
        </div>
        <div class="card-content">
          <P class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</P>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="card card-circle-chart" data-background-color="green">
        <div class="card-header text-center">
          <h5 class="card-title">Medium</h5>
          <p class="description">Monthly Plan</p>
        </div>
        <div class="card-content">
          <P class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</P>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4">
      <div class="card card-circle-chart" data-background-color="orange">
        <div class="card-header text-center">
          <h5 class="card-title">High</h5>
          <p class="description">Yearly Plan</p>
        </div>
        <div class="card-content">
          <P class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod 
            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</P>
        </div>
      </div>
    </div>
  </div>