<!--The content below is only a placeholder and can be replaced.-->

<div class="wrapper">
    <div *ngIf="(isLoggedIn | async)" class="sidebar" data-background-color="white" data-active-color="danger">
        <app-sidebar-cmp></app-sidebar-cmp>
    </div>
    <div class="main-panel" [ngClass]="{'main-panel-login':!(isLoggedIn | async)}">
        <navbar-cmp *ngIf="(isLoggedIn | async)"></navbar-cmp>
        <div [ngClass]="{'full-page login-page': !(isLoggedIn | async)}" data-color="">
            <div class="content">
                <router-outlet></router-outlet>
                <div class="col-lg-4" app-date-picker [date]="myDate"></div>
             </div>
        </div> 
        <!-- <footer-cmp *ngIf="(isLoggedIn | async)"></footer-cmp> -->
    </div>
</div>

<!-- <agm-map [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->