<div class="sidebar-wrapper">
    <div class="logo">
        <a href="javascript:void(0);" class="simple-text">
            <div class="logo-img">
                <img src="../../assets/img/angular2-logo.png" alt="">
            </div>
            GLUE
        </a>
    </div>
    <ul class="nav">
        <ng-container *ngIf="isMobileView| async">
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="ti-unlock"></i>
                    <p>Change Password</p>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" (click)="logout()">
                    <i class="ti-power-off"></i>
                    <p>Logout</p>
                </a>
            </li>
            <li class="divider"></li>
        </ng-container>

        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>