<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="content">
          <form [formGroup]="businessPofileFormGroup">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Business Name</label>
                  <input type="text" class="form-control border-input"  [formControl]="businessPofileFormGroup.controls['businessName']" placeholder="Business Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Business Description</label>
                  <input type="text" class="form-control border-input" [formControl]="businessPofileFormGroup.controls['businessDescription']" placeholder="Business Description">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Business Phone</label>
                  <input type="text" class="form-control border-input" [formControl]="businessPofileFormGroup.controls['businessPhone']" placeholder="Business Phone">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Web Site Url</label>
                  <input type="text" class="form-control border-input" [formControl]="businessPofileFormGroup.controls['websiteUrl']" placeholder="Web Site Url">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Facebook Url</label>
                  <input type="text" class="form-control border-input" [formControl]="businessPofileFormGroup.controls['facebookUrl']" placeholder="Facebook Url">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Twitter Url</label>
                  <input type="text" class="form-control border-input" [formControl]="businessPofileFormGroup.controls['twitterUrl']" placeholder="Twitter Url">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Upload</label>
                  <input type="file" class="form-control border-input" [formControl]="businessPofileFormGroup.controls['uploadFile']">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Business Address</label>
                  <input type="text" class="form-control border-input" [formControl]="businessPofileFormGroup.controls['businessAddress']" placeholder="Business Address">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>