<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">Start content</mat-sidenav>
  <mat-sidenav opened mode="side" position="end">End content</mat-sidenav>
</mat-sidenav-container>
<mat-toolbar>
    <!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <a mat-button>Home</a>
    </mat-menu>-->
    <a mat-button>Home</a>
    <a mat-button>About Us</a>
    <a mat-button>Institutions</a>
    <a mat-button>COURSES</a>
    <a mat-button>PLACEMENTS</a>
    <a mat-button>WHY RI</a>
    <a mat-button>Media</a>
    <a mat-button>Life@RI</a>
    <a mat-button>Contact Us</a>
</mat-toolbar>